body {
    margin: 0;
}

.min-vh-80 {
    min-height: 80vh;
}

.star {
    color: gold;
}

.card-text {
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border{
    border-bottom: 1px solid gray;
    margin: 10px 0;
    width: 100%;
}
